/*.photograph-header {
  
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 60%;
}

body {
  /*width: 90%;*/
  margin: auto;
}

img {
  display: block;
  object-fit: cover;
}

#main {
  position: relative;
  top: 9rem;
}


header a:focus-visible {
  outline: solid 2px #901c1c;
}

.firstName {
  font-size: 2.3em;
  color: #d3573c;
  text-align: left;
  font-style: inherit;
  font-weight: 400;
}

.photograph-header #photograph-data,
.photograph-header #contact-button {
  width: 38%;
}


#photograph-data {
  margin: 1rem 0;
  line-height: 4rem;
  font-size: 2em;
}

.photograph-header #photograph-picture {
  width: 20%;
}

.contact_button {
  /*font-size: 1em;*/
  font-weight: bold;
  color: white;
  padding: 11px;
  min-width: 170px;
  min-height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus-visible {
  background-color: #d3573c;
}

.modalBground img:hover,
.modalBground img:focus {
  outline: solid 2px #901c1c;
}

/***** partie modal *******************/
#contact_modal {
  display: none;
}

.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 3%;
  left: 25%;
  right: 25%;
  z-index: 2;
}

.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
}

.modalBground header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.modalBground header img {
  cursor: pointer;
  margin-bottom: auto;
 margin-right: 10px;
}

.modalBground header h2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 3em;
  font-weight: normal;
  width: 100%;
  margin: 0;

}

.modalBground img:hover,
.modalBground input:hover,
.modalBground button:hover,
.modalBground textarea:hover,
.modalBground img:focus,
.modalBground input:focus,
.modalBground button:focus,
.modalBground textarea:focus {
  outline: solid 2px #901c1c;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.1em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

form textarea.inputMessage {
  height: 120px;
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
}

/* messages d'erreur  */
.first-error,
.last-error,
.email-error,
.message-error {
  font-size: 1em;
  color: black;
  display: block;
  margin-bottom: -15px;
  text-align: left;

  transition: 0.2s;
}

/* encadrer erreur et validation  */
.data-validate {
  border: 4px solid green;
}

.data-error {
  border: 4px solid #901c1c;
}

.no-scroll {
  overflow: hidden;
}

/**** partie media ************************/
.media-section {
  /*margin-top: 20px;*/

  object-fit: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#main .media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 100px;
}

#medias {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
  padding-bottom: 70px;
  /*justify-content: center;*/

}

.contentMedia {
  width: 346px;
  height: 346px;
  object-fit: cover;
  border-radius: 5px;
}

.mediaLink:hover {
  transform: scale(1.08);
}

.mediaLink:focus-visible {
  outline: solid 2px #901c1c;
}

.articleMedia {
  width: 346px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  height: fit-content;
}

/*  menu tri */
.menuFilter {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: fit-content;
}

.menuFilter label {
  font-weight: 700;
  font-size: 1.5em;
  padding-top: 10px;
}

/* Éléments de la liste de tri */
ul {
  list-style-type: none;
  width: fit-content;
  margin: 0;
  background-color: #901c1c;
  border-radius: 5px;
  min-width: 200px;
  padding: 0px 10px;
  height: fit-content;
  user-select: none;
  position: relative;
}

li {
  display: block;
}

.listButton {
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  color: white;
  padding: 10px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

ul:hover,
.listButton:hover,
ul:focus,
.listButton:focus {
  background-color: #d3573c;
}

span#arrowDown,
span#arrowUp {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
}

span#arrowDown:hover,
span#arrowUp:hover,
span#arrowDown:focus,
span#arrowUp:focus {
  background-color: #d3573c;
}

#arrowDown i,
#arrowUp i {
  cursor: pointer;
}

/* pour afficher les 2 lignes blanches du menu */
#thirdSort,
#secondSort {
  border-top: solid 1px white;
}

/* Gestion de l'affichage des éléments (flèches et boutons) */
.hidden {
  display: none;
}

.visible {
  display: block;
}

.titleMedia {
  color: #901c1c;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  align-items: center;
  width: 73%;
}

.totalLikes {
  color: #901c1c;
  font-weight: 600;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
  user-select: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.totalLikes button {
  background-color: white;
  cursor: pointer;
  outline: solid 2px white;
  border-style: none;
}

.totalLikes button:focus-visible {
  outline: solid 2px #901c1c;
  border-style: none;
  color: #901c1c;
}

.totalLikes span {
  color: #901c1c;
  font-weight: 600;
}

.iconHeart {
  /*icône coeur  */
  position: relative;
  left: 5px;
  right: 10px;
  font-size: 20px;
  color: #901c1c;
}

span .marginLikes {
  position: relative;
  right: 50px;
  font-size: 20px;
}

#priceLikes {
  /* cadre total des likes et prix en bas à droite */
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 25px;
  padding: 10px 20px;
  min-width: 100px;
  height: 60px;
  /*width: 450px;*/
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
}

#countLikes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

/*  partie lightbox */
#lightbox {
  display: none;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#lightbox.displayMedia {
  display: flex;
}

#contentLightbox {
  width: 60%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#divMediaLightbox {
  width: 100%;
  height: 100%;
}

#divMediaLightbox img,
#divMediaLightbox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.lightboxIcon {
  color: #901c1c;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 55px;
  width: 35px;
  padding: 0;
}

button.closeLightbox {
  position: absolute;
  right: 0px;
  top: 0px;
}

@media screen and (max-width: 480px) {
  /*body{
    width: 90%;

  }*/
  header {
    
    margin-top: 50px;
    text-align: center;
}
  h1.firstName {
    font-size: 1.5em;
   
   
  }

  .logo {
    height: 50px;
    margin-left: 90px;
    text-align: center;
  }

  .photo-container {
    padding: 10px;
  }

  img.portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    object-fit: cover;
    margin-top: 10px;
}
.menuFilter {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: fit-content;
  margin-top: 10px;
}
  .photo-title {
    font-size: 1.2em;
  }
  #photograph-data {
    margin: 1rem 0; 
    line-height: 3rem; 
     font-size: 15px; 
}
  .photo-description {
    font-size: 0.9em;
  }

  .photograph-header {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photograph-header #photograph-data,
.photograph-header #contact-button {
  width: auto;
}
   .contact_button {
    font-size: 15px;
 margin-right: 90px;
 min-height: 20px;
  }

  #main .media-section {
    margin: unset;
  }

  .media-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: unset;
  }

  .contentMedia {
    object-fit: cover;
    border-radius: 5px;
  }
  #medias {
    margin-top: 50px;
    display:grid;
}
.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 3%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
}

.modalBground header {
  justify-content: space-between;
  height: fit-content;
  margin-top:5px;
  width: 100%;
}



.modalBground header h2 {
  font-size: 15px;
  margin: 0;
  width: 100px;
  height: 50px;
text-align: left;
}

.modalBground header img {
  
  margin-left: 60%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
}

form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 1.5em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
}

form textarea.inputMessage {
  
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-size: 1.5em;
}
.contact_button {
  font-size: 1em; 
 min-width: 60px; 
  min-height: 30px;
  
  }
}
@media (min-width: 481px) and (max-width: 768px) {

  #contact-button {
    margin-left: 70px;
}

  .logo{
    margin-left: 10px;
    margin-right: 200px;
    height: 60px;
    margin-top: 50px;
  
    }
  .photograph-header {
    height: 25rem;
    padding: 1rem;
    border-radius: 5px;
    min-height: 10px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-self: center;*/
   width: 680px;
    
  }
  .firstName {
    font-size: 3em;
 
   
  }
  #photograph-data {
    margin: 1rem 0;
    line-height: 4rem; 
     font-size: 1.5em; 
    height: 200px;
}
  img.portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    object-fit: cover;
    margin-top: 10px;
}
#medias {
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 40px;
  margin-top: 30px
 
}
#main .media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   margin: 10px 10px; 
}
.iconHeart {
  position:relative;

}
p {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  font-size: 20px;
  
}
.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
  }

 .modalBground header {
  justify-content: space-between;
  height: fit-content;
 }



 .modalBground header h2 {
  font-size: 3em;
  font-weight: normal;
  width: 200px;
  margin: 0;

 }

  .modalBground header img {
  margin-left:80%;
 }


 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
 }

 form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 3em;
 }

 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  }

 form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 2.5em;
  }

 form textarea.inputMessage {
  height: 180px;
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-size: 2.5em;
 }

}
@media (min-width: 769px) and (max-width: 900px) {

  #contact-button {
    margin-left: 70px;
}

  .logo{
    margin-left: 10px;
    margin-right: 200px;
    height: 60px;
    margin-top: 50px;
  
    }
  .photograph-header {
    height: 25rem;
    padding: 1rem;
    border-radius: 5px;
    min-height: 10px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
   
    
  }
  .firstName {
    font-size: 3em;
 
   
  }
  #photograph-data {
    margin: 1rem 0;
    line-height: 4rem; 
     font-size: 1.5em; 
    height: 200px;
}
  img.portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    object-fit: cover;
    margin-top: 10px;
}
#medias {
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 40px;
  margin-top: 30px
 
}
#main .media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   margin: 10px 10px; 
}
.iconHeart {
  position:relative;

}
p {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  font-size: 20px;

  
}
.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
  }

 .modalBground header {
  justify-content: space-between;
  height: fit-content;
 }



 .modalBground header h2 {
  font-size: 4em;
  font-weight: normal;
  width: 400px;
  margin: 0;

 }

 .modalBground header img {
  margin-left: 120px;
 }


 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
 }

 form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 3em;
 }

 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  }

 form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 2.5em;
  }

 form textarea.inputMessage {
  height: 180px;
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-size: 2.5em;
 }

}


@media (min-width: 901px) and (max-width: 1024px) {
  body {
    padding: 10px;
    
  }
img.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left:60px;
  background-color: hsl(0, 0%, 90%);
  object-fit: cover;
  margin-top: 10px;

}

  header a {
    padding: 10px;
  }

  h1 {
    font-size: 1.8em;
    /*margin-left: 700px;*/
    margin-right: 10px;
  }

  .logo {
    height: 50px;
    width: 200px;
    margin-left: 40px;
    margin-right: 700px;
    margin-top: 100px;
    /* Espace entre le logo et le titre */

  }

  .photographer_section {
    grid-template-columns: 1fr;
  }

  .photograph-header {
    margin: 0 20px;
    height: 25rem;
    padding: 1rem;
    border-radius: 5px;
    min-height: 10px;
    margin-right:150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 800px;

  }

  .photograph-header #photograph-data,
  .photograph-header #contact-button,
  .photograph-header #photograph-picture {
    width: 100%;
  }

  .contact_button {
  
    margin-top: 10px;
  }
  #medias {
  
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    gap: 100px;
    margin-top: 50px
   
  }
  #main .media-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 40px;
}

#priceLikes{
  width: 350px;
}

.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
  }

 .modalBground header {
  justify-content: space-between;
  height: fit-content;
 }



 .modalBground header h2 {
  font-size: 3em;
  font-weight: normal;
  width: 250px;
  margin: 0;

 }

 .modalBground header img {
  margin-left: 80%;
 }


 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
 }

 form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 2em;
 }

 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  }

 form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 2.5em;
  }

 form textarea.inputMessage {
  height: 80px;
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-size: 2.5em;
 }


}
@media (min-width: 1025px) and (max-width: 1439px) {
 
  body {
    padding: 10px;
    width: 100%;
    
  }
img.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left:40px;
  background-color: hsl(0, 0%, 90%);
  object-fit: cover;
  margin-top: 10px;

}

  header a {
    padding: 10px;
  }

  h1 {
    font-size: 1.8em;
    /*margin-left: 700px;*/
    margin-right: 10px;
  }

  .logo {
    height: 50px;
    width: 200px;
    margin-left: 200px;
    margin-right: 700px;
    margin-top: 100px;
    /* Espace entre le logo et le titre */

  }

  .photographer_section {
    grid-template-columns: 1fr;
  }

  .photograph-header {
    
    height: 25rem;
    margin-right: 120px;
    padding: 1rem;
    border-radius: 5px;
    min-height: 10px;
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
  


  }

  .photograph-header #photograph-data,
  .photograph-header #contact-button,
  .photograph-header #photograph-picture {
    width: 100%;
  }

  .contact_button {
  
    margin-top: 10px;
  }
  #medias {
  
    display: grid;
    grid-template-columns: 1fr 1fr;
  margin-right: 200px;
   
    margin-top: 50px
   
  }
  #main .media-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    margin: 10px 200px;

}
#priceLikes{
  width: 430px;
}


.modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
  }

 .modalBground header {
  justify-content: space-between;
  height: fit-content;
 }



 .modalBground header h2 {
  font-size: 5em;
  font-weight: normal;
  width: 400px;
  margin: 0;

 }

 .modalBground header img {
  margin-left: 80%;
 }


 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
 }

 form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 3em;
 }

 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  }

 form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 2.5em;
  }

 form textarea.inputMessage {
  height: 180px;
  padding-top: 10px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  font-size: 2.5em;
 }

}



@media (min-width: 1440px) and (max-width: 1800px) {  

  body {
    padding: 10px;
  }
 img.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  background-color: hsl(0, 0%, 90%);
  object-fit: cover;
  margin-top: 10px;
 }

  header a {
    padding: 10px;
  }
   
  h1 {
    font-size: 1.8em;
    /*margin-left: 700px;*/
    margin-right: 10px;
  }

  .logo {
    margin-top: 50px;
    height: 30px;
    
    margin-left: 130px;
    margin-right: 700px;
    /* Espace entre le logo et le titre */
  }

  .photographer_section   {
    
    /* margin-top: 20px; */
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }


   
 .photograph-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
    min-height: auto;
    margin: 0 20px;
    margin-top: 30px;
    padding: 10px;

  }
 
  .photograph-header #photograph-data,
  .photograph-header #contact-button,
  .photograph-header #photograph-picture {
    width: 100%;
  }

  .contact_button {
   
    min-width: 200px;
    min-height: 80px;
    margin-top: 70px;
    
  }
  #medias {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 130px;
    row-gap: 10px;
    padding-bottom: 70px;
  
 }
 #main .media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0px 130px;
  }

 #photograph-data {
  margin: 1rem 0;
  line-height: 4rem;
  font-size: 2em;
  margin-left: 100px;
   }
 #priceLikes{
  width: 430px;
 }

 .modalBground {
  border-radius: 5px;
  background-color: #db8876;
  display: none;
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: absolute;
  top: 80px;
  left: 25%;
  right: 20%;
  z-index: 2;
  height: 80%;
 
 }

 .modalBground_layout {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(130, 131, 141, 0.4);

  z-index: 1;
  }

 .modalBground header {
  justify-content: space-between;
  height: fit-content;
 }



 .modalBground header h2 {
  font-size: 7em;
  font-weight: normal;
  width: 500px;
  margin: 0;

 }

  .modalBground header img {
  margin-left: 120px;
 }


 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  
 }

 form label {
  margin-top: 10px;
  color: #312e2e;
  font-size: 3em;
 }

 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  
  }

 form input {
  width: 100%;
  height: 100%;
  min-height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 2.5em;
  }

 form textarea.inputMessage {
  height: 180px;
  padding-top: 10px;
  width: 100%;
  font-size: 2.5em;
  border-radius: 5px;
 }


 }

